.link {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  white-space: nowrap;
  

  &:hover {
    color: rgba(0, 0, 0, 0.75);
  }
}

.link-green {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #03a87c;
 
  &:hover {
    color: #039770;
  }
}

#root {
  max-width: 1072px;
  margin: 0 auto;
}