.link {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  white-space: nowrap;
  

  &:hover {
    color: rgba(0, 0, 0, 0.75);
  }
}

.link-gray {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.link-author {
  color: rgba(0, 0, 0, 0.84);

  &:hover {
    text-decoration: underline;
  }
}

.link-green {
  font-size: 13px;
  color: #03a87c;
  cursor: pointer;
 
  &:hover {
    color: #039770;
  }
}


.btn-green {
  border: 1px solid #03a87c;
  border-radius: 4px;
  padding: 5px 16px;
}

