.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}

.modal-child {
  overflow: hidden;
  position: fixed;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.09);
  width: 800px;
  height: 450px;
  padding: 50px;
  margin: 5px;
  border-radius: 4px;
}

body.modal-open {
  overflow: hidden;
}