.nav-menu-container {
	display: flex;
	align-items: center;
}

.nav-user {
	margin-left: 10px;
}

.nav-menu-dropdown {
	position: absolute;
	top: 100px;
	right: 0;
	background-color: #fff;
	border: 1px solid light-gray;
	border-radius: 3px;
	padding: 10px;
	width: 225px;
	z-index: 1;
	color: dark-gray;
	font-family: sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
	font-weight: initial;
}

.nav-menu-dropdown .nav-menu-stories  {
	border-bottom: 1px solid light-gray;
}

.nav-menu-dropdown .nav-menu-stories li,
.nav-menu-dropdown .nav-menu-user li {
	margin: 5px 0;
	cursor: pointer;
	border-radius: 3px;
	font-size: 12px;
}

.nav-menu-dropdown a {
	display: block;
	padding: 5px 5px;
}

.nav-menu-stories a {
	text-decoration: none;
	text-transform: uppercase;
}

.nav-menu-dropdown .nav-menu-user li {
	color: blue;
}

.nav-menu-dropdown .nav-menu-stories li:hover {
	background-color: light-gray;
}

.dropdown-subtitle {
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 11px;
	font-weight: bolder;
	margin: 10px 5px;
	display: block;
}

.nav-menu-stories li:first-of-type {
	color: #000;
	background-color: light-gray;
}.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #9c9c9c;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 16px;
	margin-left: -16px;
}
.arrow_box:before {
	border-color: rgba(156, 156, 156, 0);
	border-bottom-color: #9c9c9c;
	border-width: 17px;
	margin-left: -17px;
}