// .navbar-container {
//   display: flex;
//   justify-content: center;
// }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1032px;
  padding: 0 20px;

  a {
    margin: 15px;
  }
}

.nav-logo {
  font-size: 2em;
  font-family: 'Vidaloka', serif;
  font-weight: 900;
}

.nav-menu {
  margin-right: 5px;

  a {
    font-size: 13px;
    margin-left: 2px;
  }
}

.nav-logged-out {
  display: flex;
  align-items: center;
  
  .signup {
    border: 1px solid #03a87c;
    border-radius: 4px;
    padding: 10px 15px;

    &:hover {
      border: 1px solid #039770;
    }
  }
}

.nav-logged-in {
  display: flex;
  align-items: center;  
}

.nav-user {
  font-size: 13px;
    margin-right: 25px;
    border: 1px solid rgba(172, 172, 172, 0.6);
    border-radius: 4px;
    padding: 10px 15px;
}