.story-index-container {
  font-family: medium-content-sans-serif-font,
    "Lucida Grande",
    "Lucida Sans Unicode",
    "Lucida Sans",
    Geneva,
    Arial,
    sans-serif;
    
  ul {
    display: flex;
    flex-direction: column;
  }
    
  .story-item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 656px;
    max-height: 171px;
    margin-bottom: 48px;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-right: 24px;

    a {
      width: fit-content;
    }
  }
}

.story-image {
  max-height: 171px;
  width: 152px;
  object-fit: cover;
}

.story-lead-in {
  font-size: 15px;
  margin-top: 2px;
}

.story-author {
  
}