.story-index-container {

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    flex-direction: column;
    padding: 10px;

    a {
      width: fit-content;
    }
  }
}

.story-lead-in {
  margin-top: 2px;
}