.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.90);
  z-index: 10;
  text-align: center;
}

.modal-child {
  position: relative;
  background: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-size: auto;

  top: 48.5%;
  left: 50%;
  transform: translate(-50.55%, -50%);
  box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.09);
  width: 800px;
  height: 450px;
  padding: 50px;
  margin: 5px;
  border-radius: 4px;

}

.modal-login {
  // background: url(https://cdn-images-1.medium.com/max/900/1*Cs2lqW1GyoPdYqs1U0Xudg.png);
  background-image: image-url("medium-modal-login-bg.png");
}

.modal-signup {
  // background: url(https://cdn-images-1.medium.com/max/900/1*gnUBeL-INIVDk0_GyL8x1g.png); 
  background-image: image-url("medium-modal-signup-bg.png");
}

.modal-form-error-container {
  background: white;
  display: inline-block;
  position: fixed;
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.2rem;
  font-size: 13px;
  font-family:
    medium-content-sans-serif-font,
    "Lucida Grande",
    "Lucida Sans Unicode",
    "Lucida Sans",
    Geneva,
    Arial,
    sans-serif;
  margin-top: 170px;
  vertical-align: text-top;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 11;

  &:empty {
    display: none;
  }
}