

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1032px;
  height: 65;
  padding: 0 20px;
  margin: 0 auto;

  a {
    margin: 15px;
  }
}

.nav-logo {
  font-size: 2em;
  font-family: 'Vidaloka', serif;
  font-weight: 900;
}

.nav-menu {
  margin-right: 5px;

  a {
    font-size: 13px;
    margin-left: 2px;
  }
}

.nav-logged-out {
  display: flex;
  align-items: center;
  
  div {
    font-size: 13px;
    height: 22px;
    margin-right: 16px;
    padding: 0;
  }

  .signup {
    height: 35px;
    border: 1px solid #03a87c;
    border-radius: 4px;
    padding: 0px 16px;

    &:hover {
      border: 1px solid #039770;
    }
  }
}

.nav-logged-in {
  display: flex;
  align-items: center;
}

.nav-user {
  font-size: 13px;
  margin: 0 25px 0 0;
  border: 1px solid rgba(172, 172, 172, 0.6);
  border-radius: 4px;
  padding: 10px 15px;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(80, 80, 80, 0.5);
  }
}