.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  margin: 15px;
}

.nav-home {
  font-size: 2em;
}

.nav-logged-out {
  display: flex;
  align-items: center;  
}

.nav-logged-out a {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  margin-left: 2px;
}

.nav-logged-out .login {
  color: #03a87c;
}

.nav-logged-out .login:hover {
  color: #039770;
}

.nav-logged-out .signup {
  color: #03a87c;
  border: 1px solid #03a87c;
  border-radius: 4px;
  padding: 10px 15px;
}

.nav-logged-out .signup:hover {
  color: #039770;
  border: 1px solid #039770;
}