@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');

.form-session {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 42px 95px;
  font-size: 13px;
}

.form-greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-session p {
  text-align: center;
  font-family:
    medium-content-sans-serif-font,
    "Lucida Grande",
    "Lucida Sans Unicode",
    "Lucida Sans",
    Geneva,
    Arial,
    sans-serif;
}

.form-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  font-weight: 100;
  line-height: 1;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.form-close:hover {
  color: rgba(0, 0, 0, .85);
}

.form-header {
  color: rgba(0, 0, 0, 0.84);
  /* font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif; */
  font-family: 'Vidaloka', serif;
  font-weight: 600;
  font-size: 32px;
  margin: 0;
}

.form-description {
  font-size: 15px;
  padding: 0 30px;
  line-height: 1.5rem;
  margin: 15px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.form-input {
  text-align: center;
  width: 215px;
  height: 33px;
  border-radius: 3px;
  margin: 7px;
  border: 1px solid rgba(172, 172, 172, 0.6);
  font-size: 14px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.04);
  padding: 1.5px
}

.form-button {
  width: 220px;
  height: 38px;
}

.form-switch {
  margin: 14px;
}

.form-footer {
  color: rgba(0, 0, 0, 0.76);
  line-height: 1.2rem;
  margin: 5px;
}